name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Inyectar Claves
        run: |
          sed -i "s|{{SUPABASE_URL}}|${{ secrets.SUPABASE_URL }}|g" index.html
          sed -i "s|{{SUPABASE_KEY}}|${{ secrets.SUPABASE_KEY }}|g" index.html
          sed -i "s|{{GEMINI_API_KEY}}|${{ secrets.GEMINI_API_KEY }}|g" index.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: gh-pages
